body {
  background-color: #e9f1e7;
  color: #005923;
  font-family: Futura;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  transform: scale(0.7);
  transform-origin: 0 0;
}

.Ezi {
  width: 53px;
  height: 46px;
  transform: scaleX(-1);
  font-size: 36px;
  font-weight: bold;
  color: #005923 !important;
  margin-left: 108px;
  margin-top: 82px;
  display: inline-block;
  text-decoration: none !important;
}

.aboucontact {
  width: 121px;
  height: 27px;
  font-family: Futura;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #005923;
  position: absolute;
  top: 83px;
  left: 1225px;
  text-decoration: underline;
}

.content {
  margin-left: 210px;
  margin-top: 162px;
}

.Eazyoon {
  width: 369px;
  height: 104px;
  font-family: Futura;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #005923;
}

.writer-designer {
  width: 253px;
  height: 762px;
  font-family: Futura;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.65;
  letter-spacing: normal;
  color: #005923;
}

.contact {
  width: 318px;
  height: 104px;
  font-family: Futura;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #005923;
}

.easyoon21gmailco {
  width: 256px;
  height: 127px;
  font-family: Futura;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 5.29;
  letter-spacing: normal;
  color: #005923;
}

.img-psychology {
  position: absolute;
  top: 344px;
  left: 550px;
  width: 806px;
  height: 550px;
  z-index: -1;
}

.img-start {
  position: absolute;
  top: 1300px;
  left: 235px;
  width: 806px;
  height: 570px;
  z-index: -1;
}

.img-escher {
  position: absolute;
  top: 2294px;
  left: 646px;
  width: 612px;
  height: 796px;
  z-index: -1;
}

.txt-psychology {
  width: 1057px;
  height: 208px;
  font-family: Futura;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00451b;
  position: absolute;
  top: 830px;
  left: 370px;
}

.txt-start {
  width: 692px;
  height: 208px;
  font-family: Futura;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00451b;
  position: absolute;
  top: 1808px;
  left: 118px;
}

.txt-escher {
  width: 572px;
  height: 208px;
  font-family: Futura;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00451b;
  position: absolute;
  top: 3012px;
  left: 548px;
}

.txt-no1 {
  width: 117px;
  height: 42px;
  transform: rotate(270deg);
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #005923;
  position: absolute;
  top: 381px;
  left: 459px;
}

.txt-no2 {
  width: 120px;
  height: 42px;
  transform: rotate(270deg);
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #005923;
  position: absolute;
  top: 1338px;
  left: 140px;
}

.txt-no3 {
  width: 120px;
  height: 42px;
  transform: rotate(270deg);
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #005923;
  position: absolute;
  top: 2328px;
  left: 542px;
}

.img-no1-1 {
  position: absolute;
  top: 611px;
  left: 0px;
  width: 1440px;
  height: 960px;
  z-index: -1;
}

.img-no1-2 {
  position: absolute;
  top: 2180px;
  left: 120px;
  width: 600px;
  height: 848px;
  z-index: -1;
}

.img-no1-3 {
  position: absolute;
  top: 3357px;
  left: 360px;
  width: 1080px;
  height: 806px;
  z-index: -1;
}

.img-no1-4 {
  position: absolute;
  top: 4493px;
  left: 280px;
  width: 600px;
  height: 848px;
  z-index: -1;
}

.img-no1-5 {
  position: absolute;
  top: 5702px;
  left: 0px;
  width: 1080px;
  height: 806px;
  z-index: -1;
}

.img-no1-6 {
  position: absolute;
  top: 6970px;
  left: 845px;
  width: 600px;
  height: 848px;
  z-index: -1;
}

.img-no1-7 {
  position: absolute;
  top: 8180px;
  left: 120px;
  width: 1080px;
  height: 806px;
  z-index: -1;
}

.img-no1-8 {
  position: absolute;
  top: 9315px;
  left: 660px;
  width: 600px;
  height: 848px;
  z-index: -1;
}

.img-no1-9 {
  position: absolute;
  top: 10620px;
  left: 360px;
  width: 1080px;
  height: 806px;
  z-index: -1;
}

.img-no1-10 {
  position: absolute;
  top: 11790px;
  left: 145px;
  width: 600px;
  height: 848px;
  z-index: -1;
}

.img-no1-11 {
  position: absolute;
  top: 13000px;
  left: 266px;
  width: 1080px;
  height: 806px;
  z-index: -1;
}

.txt-no1-0 {
  width: 1057px;
  height: 208px;
  font-family: Futura;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #005923;
  position: absolute;
  top: 275px;
  left: 108px;
}

.txt-no1-1 {
  width: 59px;
  height: 40px;
  font-family: Futura;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #005923;
  position: absolute;
  top: 1700px;
  left: 280px;
}

.txt-no1-2 {
  width: 880px;
  height: 172px;
  font-family: NanumSquareOTFR;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.05;
  letter-spacing: normal;
  color: #005923;
  position: absolute;
  top: 1784px;
  left: 280px;
}

.img-no2-1 {
  position: absolute;
  top: 551px;
  left: 0px;
  width: 1440px;
  height: 808px;
  z-index: -1;
}

.img-no2-2 {
  position: absolute;
  top: 1760px;
  left: 135px;
  width: 1097px;
  height: 1509px;
  z-index: -1;
}

.img-no2-3 {
  position: absolute;
  top: 3288px;
  left: 170px;
  width: 1100px;
  height: 816px;
  z-index: -1;
}

.img-no2-4 {
  position: absolute;
  top: 4286px;
  left: 170px;
  width: 1100px;
  height: 821px;
  z-index: -1;
}

.img-no2-5 {
  position: absolute;
  top: 4941px;
  left: 92px;
  width: 744px;
  height: 1022px;
  z-index: -1;
}

.img-no2-6 {
  position: absolute;
  top: 5637px;
  left: 523px;
  width: 743px;
  height: 1022px;
  z-index: -1;
}

.img-no2-7 {
  position: absolute;
  top: 6800px;
  left: 166px;
  width: 1100px;
  height: 816px;
  z-index: -1;
}

.txt-no1-0 {
  width: 659px;
  height: 208px;
  font-family: Futura;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #005923;
  position: absolute;
  top: 275px;
  left: 108px;
}

.txt-no2-2 {
  width: 880px;
  height: 129px;
  font-family: NanumSquareOTFR;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.05;
  letter-spacing: normal;
  color: #005923;
  position: absolute;
  top: 1784px;
  left: 280px;
}
